body{
  text-align: center;
  background-color: bisque;
  background-image:;
  
}
h1{
  color: rgb(6, 120, 120);
  font-size: 40px;

}
button{
  border: none;
  padding: 20px;
  margin: 40px;
  border-radius: 10px;
  background-color: rgb(229, 31, 107);
  font-size: 20px;
  color: white;
  box-shadow: 5px 8px 10px white;
}
button:hover{
  cursor:pointer;
  border
}
